<div class="gallery-detail-container">
    <div class="header-container">
        <div class="photo-header" [style.backgroundImage]="'url(' + bannerImage + ')'"></div>
        <div class="servizi-header">{{ servizioName }}<span *ngIf="personName"> - {{ personName }}</span></div>
    </div>

    <div class="gallery-content">
        <div class="gallery-grid" *ngIf="detailPhotos.length > 0">
            <div 
                *ngFor="let photo of detailPhotos; let i = index" 
                class="polaroid-item"
                (click)="openLightbox(i)"
            >
                <div class="polaroid-frame clickable">
                    <img [src]="photo.src" [alt]="photo.alt" loading="lazy">
                </div>
            </div>
        </div>
        <div *ngIf="detailPhotos.length === 0" class="no-photos">
            <p>Gallery non disponibile per questo servizio</p>
        </div>
    </div>

    <div class="action-buttons">
        <button class="btn-back" (click)="goBack()">Torna indietro</button>
        <a [routerLink]="['/contatti']" class="btn-contact">Contattami</a>
    </div>

    <app-lightbox 
        [photos]="detailPhotos" 
        [isOpen]="lightboxOpen"
        (close)="closeLightbox()"
        #lightbox
    ></app-lightbox>
</div>
