<section class="servizi">
    <div class="header-container">
        <div class="photo-header"></div>
        <div class="servizi-header">Bebè</div>
    </div>
    <div class="servizi-body">
        <div class="text">
            <div class="text-content">
                <div>
                    <span class="sub-tilte">Perchè scegliere il servizio bebè ? </span>
                </div>
                <p>Il servizio bebè si svolge tra i 6 e gli 11 mesi, il momento migliore è quando il tuo bambino riesce a stare seduto da solo ma ancora non gattona né cammina.
                    In questa fase, l’interazione con mamma e papà è piena di tenerezza e complicità.
                    Le prime risate, gli sguardi curiosi e i piccoli giochi insieme diventano ricordi preziosi da conservare con amore. Un’occasione per fermare il tempo e custodire la bellezza di questo legame che cresce, giorno dopo giorno.
                </p>
                <p>
                    La sessione ha una durata di circa 1 ora. Per rispettare i tempi e le esigenze del bambino non andrò mai di fretta così lui avrà a disposizione tutto il tempo necessario per sentirsi sereno e a suo agio.
                </p>
                <div>
                    <span class="sub-tilte">Chi può partecipare ? </span>
                </div>
                <p>
                    Il servizio è pensato non solo per il vostro bimbo, ma anche per la mamma, il papà, i fratellini maggiori e per i vostri amici a quattro zampe, perché ogni membro della famiglia merita di essere parte di questo dolce ricordo.
                </p>
            </div>
        </div>
        <div class="image-section">
            <img src="/assets/home/servizi/bebe/foto1.jpg" alt="">
        </div>
    </div>
    <div class="servizi-body" style="background-color: #f2eadc; width: 100%">

        <div style="display: flex; flex-direction: column; width: 100%">
            <!-- Prima riga: primo paragrafo + prima immagine -->
            <div class="content-row">
                <div class="text">
                    <div class="text-content">
                        <div>
                            <span class="sub-tilte">Cosa Portare ? </span>
                        </div>
                        <p>Per rendere tutto ancora più speciale, metto a disposizione una selezione di vestitini per il vostro bimbo e abiti sartoriali per la mamma,
                            così da farvi sentire curati e coccolati senza dover pensare a nulla.
                        </p>
                        <p>
                            Per i papà, consiglio un look semplice sui toni neutri, come pantaloni beige o un jeans chiaro abbinato a una camicia di lino,
                            una camicia bianca o una t-shirt bianca senza scritte.
                        </p>
                        <div>
                            <span class="sub-tilte">Quanto Costa ? </span>
                        </div>
                        <p>Il servizio bebè parte da 200€ e include tutto il necessario per vivere un’esperienza speciale e senza pensieri.
                            Per ricevere tutti i dettagli e trovare insieme la proposta più adatta a te, contattami senza impegno. Sarò felice di aiutarti!
                        </p>
                    </div>
                </div>
                <div style="flex-direction: column">
                    <div class="image-section">
                        <img src="/assets/home/servizi/bebe/foto2.jpg" alt="">
                    </div>
                    <div class="image-section">
                        <img src="/assets/home/servizi/bebe/foto3.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-section">
        <span class="sub-tilte line">Guarda le gallery dei servizi dei bebè</span>
        <span class="sub-tilte" style="margin-top: 15px"><a routerLink="/contatti">Contattmi subito</a></span>
    </div>
    <app-bottom-gallery [photos_input]="photos"></app-bottom-gallery>
</section>
