<section class="servizi">
    <div class="header-container">
        <div class="photo-header"></div>
        <div class="servizi-header">Famiglia</div>
    </div>
    <div class="servizi-body">
        <div class="text">
            <div class="text-content">
                <div>
                    <span class="sub-tilte">Perchè scegliere il servizio famiglia ? </span>
                </div>
                <p>Il servizio Famiglia è dedicato a chi desidera raccontare la bellezza del proprio legame, a partire dal primo anno di vita del bambino, e in qualsiasi momento successivo.
                    Le interazioni naturali e spontanee: corse, carezze, risate condivise, diventano immagini autentiche e piene di emozione. Un’occasione per fermare il tempo e raccontare la vostra storia così come siete, insieme.
                </p>
                <p>
                    La sessione ha una durata di circa 1 ora. Per rispettare i tempi e le esigenze del bambino non andrò mai di fretta così lui avrà a disposizione tutto il tempo necessario per sentirsi sereno e a suo agio.
                </p>
                <div>
                    <span class="sub-tilte">Chi può partecipare ? </span>
                </div>
                <p>
                    Questo servizio è dedicato non solo alle famiglie con bambini o ragazzi, ma anche alle coppie e ai genitori di bimbi pelosi: ogni forma di famiglia trova il suo spazio davanti al mio obiettivo.
                </p>
            </div>
        </div>
        <div class="image-section">
            <img src="/assets/home/servizi/famiglia/foto1.jpg" alt="">
        </div>
    </div>
    <div class="servizi-body" style="background-color: #f2eadc; width: 100%">

        <div class="inside-second-body">
            <!-- Prima riga: primo paragrafo + prima immagine -->
            <div class="content-row">
                <div class="text">
                    <div class="text-content">
                        <div>
                            <span class="sub-tilte">Cosa Portare ? </span>
                        </div>
                        <p>Per rendere tutto ancora più speciale, metto a disposizione una selezione di vestitini per il vostro bambini e abiti sartoriali per la mamma, così da farvi sentire curati e coccolati senza dover pensare a nulla.
                        </p>
                        <p>
                            Per i papà, consiglio un look semplice sui toni neutri, come pantaloni beige o un jeans chiaro abbinato a una camicia di lino, una camicia bianca o una t-shirt bianca senza scritte.
                        </p>
                        <div class="paragraph-spacer">
                            <span class="sub-tilte">Quanto Costa ? </span>
                        </div>
                        <p>Il servizio di famiglia parte da 200€ e include tutto il necessario per vivere un’esperienza speciale e senza pensieri.
                            Per ricevere tutti i dettagli e trovare insieme la proposta più adatta a te, contattami senza impegno. Sarò felice di aiutarti!
                        </p>
                    </div>
                </div>
                <div class="column-photos">
                    <div class="image-section">
                        <img src="/assets/home/servizi/famiglia/foto2.jpg" alt="">
                    </div>
                    <div class="image-section">
                        <img src="/assets/home/servizi/famiglia/foto3.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-section">
        <span class="sub-tilte line"><a routerLink="/gallery/famiglia">Guarda le gallery dei servizi famiglia</a></span>
        <span class="sub-tilte" style="margin-top: 15px"><a routerLink="/contatti">Contattmi subito</a></span>
    </div>
    <app-bottom-gallery [photos_input]="photos"></app-bottom-gallery>
</section>
