<section class="servizi">
    <div class="header-container">
        <div class="photo-header"></div>
        <div class="servizi-header">Primi Mesi</div>
    </div>
    <div class="servizi-body">
        <div class="text">
            <div class="text-content">
                <div>
                    <span class="sub-tilte">Perchè scegliere il servizio primi mesi ? </span>
                </div>
                <p>I primi mesi di vita, da 1 a 5 mesi, sono un periodo fatto di scoperte, piccoli sorrisi, sguardi
                    curiosi e tenerezze che meritano di essere ricordate per sempre.
                    Ogni giorno il vostro bambino cambia, cresce e inizia a raccontare, a modo suo, la meraviglia della
                    sua nuova vita.
                    Un servizio fotografico in questa fase vi permetterà di fermare nel tempo queste emozioni autentiche
                    e genuine, creando ricordi dal valore inestimabile.
                </p>
                <p>
                    La sessione ha una durata variabile, da 1 a 2 ore.
                    Per rispettare i tempi e le esigenze del vostro bambino non andrò mai di fretta così
                    lui avrà a disposizione tutto il tempo necessario per sentirsi sereno e a suo agio.
                </p>
                <div>
                    <span class="sub-tilte">Chi può partecipare ? </span>
                </div>
                <p>
                    Il servizio è pensato non solo per il vostro bambino, ma anche per la mamma,
                    il papà, i fratellini maggiori e per i vostri amici a quattro zampe, perché ogni membro della
                    famiglia merita di essere
                    parte di questo dolce ricordo.
                </p>
            </div>
        </div>
        <div class="image-section">
            <img src="/assets/home/servizi/primimesi/foto1.jpg" alt="">
        </div>
    </div>
    <div class="servizi-body" style="background-color: #f2eadc; width: 100%">

        <div class="inside-second-body">
            <!-- Prima riga: primo paragrafo + prima immagine -->
            <div class="content-row">
                <div class="text">
                    <div class="text-content">
                        <div>
                            <span class="sub-tilte">Cosa Portare ? </span>
                        </div>
                        <p>Per rendere tutto ancora più speciale, metto a disposizione una selezione di vestitini per il
                            vostro bimbo e abiti sartoriali per la mamma,
                            così da farvi sentire curati e coccolati senza dover pensare a nulla.
                        </p>
                        <p>
                            Per i papà, consiglio un look semplice sui toni neutri, come pantaloni beige o un jeans
                            chiaro abbinato a una camicia di lino,
                            una camicia bianca o una t-shirt bianca senza scritte.
                        </p>
                        <div class="paragraph-spacer">
                            <span class="sub-tilte">Quanto Costa ? </span>
                        </div>
                        <p>Il servizio primi mesi parte da 230€ e include tutto il necessario per vivere un’esperienza
                            speciale e senza pensieri.
                            Per ricevere tutti i dettagli e trovare insieme la proposta più adatta a te, contattami
                            senza impegno. Sarò felice di aiutarti!
                        </p>
                    </div>
                </div>
                <div class="column-photos">
                    <div class="image-section">
                        <img src="/assets/home/servizi/primimesi/foto2.jpg" alt="">
                    </div>
                    <div class="image-section">
                        <img src="/assets/home/servizi/primimesi/foto3.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-section">
        <span class="sub-tilte line">Guarda le gallery dei servizi primi mesi</span>
        <span class="sub-tilte" style="margin-top: 15px"><a routerLink="/contatti">Contattmi subito</a></span>
    </div>
    <app-bottom-gallery [photos_input]="photos"></app-bottom-gallery>
</section>
