.footer {
    text-align: center;
    padding: 2rem;
    background: #f4e8dd;
    font-size: 17px;
    color: #3e3e3e;
    font-family: 'Questrial', sans-serif;
    font-weight: normal;

    .footer-line {
        margin: 0.3rem 0;
        color: #5e5e5e;
    }

    .footer-copy {
        margin-top: 1.5rem;
        font-size: 0.8rem;
        color: #9b8b7c;
    }
}

@media (max-width: 768px) {
    .footer {
        width: auto;
    }
}

@media (max-width: 320px) {
    .footer {
        .footer-line {
            font-size: 0.8rem;
        }
    }
}
