<section>
    <div class="carousel-container">
        <div class="carousel-track" #carouselTrack (transitionend)="onTransitionEnd()">
            <div
                    class="carousel-item"
                    *ngFor="let image of displayImages; let i = index"
                    [class.selected]="i === this.currentIndex">
                <img [src]="image" alt="Immagine del carosello">
            </div>
        </div>
        <button class="carousel-button prev" (click)="prev()">‹</button>
        <button class="carousel-button next" (click)="next()">›</button>
    </div>
    <div class="text">
        <p class="gallery-text">Se ti emoziona, sei nel posto giusto.</p>
    </div>
</section>
