<section class="servizi">
    <div class="header-container">
        <div class="photo-header"></div>
        <div class="servizi-header">Ritratto</div>
    </div>
    <div class="servizi-body">
        <div class="text">
            <div class="text-content">
                <div>
                    <span class="sub-tilte">Perché scegliere il servizio di ritratto? </span>
                </div>
                <p>Scegliere un servizio di ritratto significa regalarsi immagini senza tempo, capaci di mettere al centro la vera essenza dei soggetti fotografati.
                    La semplicità dello sfondo scuro esalta i lineamenti, le emozioni e i legami, creando fotografie dal forte impatto visivo e grande raffinatezza.
                    È una scelta perfetta per raccontare la forza e l’unicità di un singolo ritratto, ma anche l’intimità e la complicità di una famiglia. Ogni scatto diventa così un’opera d’arte.
                </p>
                <div>
                    <span class="sub-tilte">Chi può partecipare ? </span>
                </div>
                <p>
                    Questo servizio è dedicato non solo alle famiglie ma anche a chi, da solo, vuole regalarsi un’esperienza unica e un ricordo prezioso.
                    È l’occasione perfetta per raccontare la propria essenza attraverso uno sguardo, che sia condivisa con i propri cari o vissuta in prima persona.
                </p>
            </div>
        </div>
        <div class="image-section">
            <img src="/assets/home/servizi/ritratto/foto1.jpg" alt="">
        </div>
    </div>
    <div class="servizi-body" style="background-color: #f2eadc; width: 100%">

        <div style="display: flex; flex-direction: column; width: 100%">
            <!-- Prima riga: primo paragrafo + prima immagine -->
            <div class="content-row">
                <div class="text">
                    <div class="text-content" style="margin-top: 50px;">
                        <div>
                            <span class="sub-tilte">Cosa indossare? </span>
                        </div>
                        <p>Per questa tipologia di servizio consiglio un outfit molto semplice e total black.
                        </p>
                        <div class="paragraph-spacer">
                            <span class="sub-tilte">Quanto Costa ? </span>
                        </div>
                        <p>Il servizio di ritratto parte da 200€.
                            Per ricevere tutti i dettagli e trovare insieme la proposta più adatta a te, contattami senza impegno. Sarò felice di aiutarti!
                        </p>
                    </div>
                </div>
                <div style="flex-direction: column">
                    <div class="image-section" style="padding-right: 20px;">
                        <img src="/assets/home/servizi/ritratto/foto2.jpg" alt="" style="margin: 20px 0">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-section">
        <span class="sub-tilte line"><a routerLink="/gallery/ritratto">Guarda le gallery dei servizi ritratto</a></span>
        <span class="sub-tilte" style="margin-top: 15px"><a routerLink="/contatti">Contattmi subito</a></span>
    </div>
</section>
