<section class="servizi">
    <div class="header-container">
        <div class="photo-header"></div>
        <div class="servizi-header">Mini Sessioni</div>
    </div>
    <div class="servizi-body">
        <div class="text">
            <div class="text-content" style="margin-top: 30px;">
                <div>
                    <span class="sub-tilte">Cosa sono le mini sessioni ? </span>
                </div>
                <p>Le mini sessioni fotografiche sono servizi più brevi rispetto a quelli tradizionali.
                    Si svolgono esclusivamente in date e orari prestabiliti, con set preparati a tema con tutta la cura dei dettagli che contraddistingue i miei lavori, infatti ogni anno troverete set diversi.
                    Due appuntamenti ogni anno: a maggio per la Festa della Mamma e a novembre per il Natale. Un modo semplice e speciale per avere ricordi da custodire per sempre.
                </p>
                <div>
                    <span class="sub-tilte">Chi può partecipare ? </span>
                </div>
                <p>
                    Le mini sessioni sono dedicate non solo alle famiglie con bambini o ragazzi, ma anche alle coppie e ai genitori di bimbi pelosi: ogni forma di famiglia trova il suo spazio davanti al mio obiettivo.
                </p>
            </div>
        </div>
        <div class="image-section">
            <img src="/assets/home/servizi/mini/foto1.jpg" alt="">
        </div>
    </div>
    <div class="servizi-body" style="background-color: #f2eadc; width: 100%">

        <div class="inside-second-body">
            <!-- Prima riga: primo paragrafo + prima immagine -->
            <div class="content-row">
                <div class="text">
                    <div class="text-content">
                        <p class="paragraph-spacer padding">
                            Tutte le informazioni sulle mini sessioni saranno disponibili qui non appena apriranno le prenotazioni
                        </p>
                        <div class="paragraph-spacer">
                            <span class="sub-tilte">Coming soon...</span>
                        </div>
                    </div>
                </div>
                <div class="column-photos">
                    <div class="image-section">
                        <img src="/assets/home/servizi/mini/foto2.jpg" alt="">
                    </div>
                    <div class="image-section">
                        <img src="/assets/home/servizi/mini/foto3.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-section">
        <!-- <span class="sub-tilte line"><a routerLink="/gallery/mini-sessioni">Guarda le gallery delle mini sessioni</a></span> -->
        <span class="sub-tilte" style="margin-top: 15px"><a routerLink="/contatti">Contattmi subito</a></span>
    </div>
    <app-bottom-gallery [photos_input]="photos"></app-bottom-gallery>
</section>
