.about {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: center;
  margin-top: calc(-3 * var(--navbar-height));
  padding-top: var(--navbar-height);

  .header-container {
    position: relative;
    width: 100%;
    height: auto;
  }
  .photo-header {
    width: 100%;
    height: 600px;               // altezza fissa che scegli tu
    background-image: url('/assets/home/chisono/elena.jpg');
    background-size: cover;      // mantiene il crop proporzionato
    background-position: center 25%; // sempre centrata
    overflow: hidden;
  }

  .chi-sono-header {
    font-family: 'Adventures Unlimited', cursive;
    font-weight: normal;
    font-size: clamp(24px, 8vw, 82px); /* si adatta automaticamente */
    position: absolute;
    z-index: 10;
    color: white;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
  }


  .chi-sono-body {
    display: flex;
    flex-direction: row;
  }
  .text {
    flex: 1 1 70%;
    display: flex;
    flex-direction: column;
    font-family: 'Questrial', sans-serif;
    font-weight: normal;
    text-align: center;
    justify-content: center;
    p {
      font-size: 18px;
      font-weight: lighter;
    }
  }

  .photo-body {
    flex: 1 1 30%;
  }

  @media (max-width: 768px) {
    flex-direction: column;

    .photo-header {
      aspect-ratio: 16 / 9; /* più orizzontale su mobile */
      height: 400px;
    }
  }
}
