<section class="about">
    <div class="header-container">
        <div class="photo-header"></div>
        <div class="chi-sono-header">Chi sono</div>
    </div>
    <div class="chi-sono-body">
        <div class="text">
            <div class="text-content">
                <p>Mi chiamo Elena e attraverso la fotografia racconto quello che mi emoziona di più: il legame
                    autentico e
                    la vera essenza di ogni famiglia.
                </p>
                <p>
                    La mia strada non è stata subito chiara. Dopo essermi iscritta alla facoltà di Architettura e averla
                    frequentata per cinque anni, ho capito che quella non era la scelta giusta per me.
                    Quando ho incontrato la fotografia di neonati ho ritrovato la luce che avevo perso, ed è proprio
                    quella
                    luce che cerco di trasmettere in ogni scatto.
                </p>
                <p>
                    Dopo anni di formazione e numerosi attestati, ho trovato la mia vera vocazione: catturare i primi
                    istanti di una nuova vita, l’emozione di diventare genitori, gli abbracci di una famiglia e le
                    risate
                    spensierate dei bambini. Poter raccontare la magia di questi momenti unici, e sapere che verranno
                    custoditi per sempre, è per me un vero privilegio.
                </p>
                <p>
                    Il mio stile è semplice e romantico: amo il bianco, i colori neutri e qualche tocco di colori
                    pastello.
                    Credo che le emozioni abbiano bisogno di spazio per brillare, senza troppe distrazioni.
                </p>
            </div>
        </div>
        <div class="single-image">
            <img src="/assets/chisono/elena1.jpg" alt="">
        </div>
    </div>
    <div class="chi-sono-body" style="background-color: #f2eadc; width: 100%">

        <div style="display: flex; flex-direction: column; width: 100%"> 
            <!-- Prima riga: primo paragrafo + prima immagine -->
            <div class="content-row">
                <div class="text">
                    <div class="text-content">
                        <p>Sono sposata con Valerio, che oltre a sopportarmi nella vita, mi supporta nel lavoro.
                            Quando mi vengono in mente idee un po' folli per i miei set, è sempre lui a trovare il modo
                            di trasformarle in realtà.
                            Nella nostra famiglia ci sono anche Elsa e Anna, due gattine meravigliose che riempiono le
                            nostre giornate di coccole e monellerie.
                            È anche grazie a loro che ho un debole per gli animali, li considero parte integrante di
                            ogni famiglia e amo fotografarli con la stessa cura e attenzione.
                        </p>
                    </div>
                </div>
                <div class="image-section">
                    <img src="/assets/chisono/elena2.jpg" alt="">
                </div>
            </div>

            <!-- Seconda riga: secondo e terzo paragrafo + seconda immagine -->
            <div class="content-row" style="padding-bottom: 10px">
                <div class="text double-paragraph">
                    <div class="text-content">
                        <p>
                            Se sei qui, probabilmente come me, credi nel valore dei ricordi, quelli veri, fatti di
                            emozioni semplici ma indelebili.
                            Sarei felice di raccontare la tua storia e regalarti la possibilità di rivivere, ogni volta
                            che vorrai,
                            i momenti che ti hanno fatto battere forte il cuore.
                        </p>
                        <p>
                            Non vedo l'ora di conoscerti e di trasformare i tuoi momenti più belli in ricordi da
                            conservare per sempre!
                        </p>
                    </div>
                </div>
                <div class="image-section">
                    <img src="/assets/chisono/elena3.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-gallery">
            <div class="single-image-row">
                <img src="/assets/chisono/baby1verticale.jpg" alt="" style="height: 400px">
            </div>
            <div class="double-image-row">
                    <img src="/assets/chisono/baby2.jpg" alt="" style="height: 195px">
                    <img src="/assets/chisono/baby3.jpg" alt="" style="height: 195px">
            </div>
            <div class="single-image-row">
                <img src="/assets/chisono/baby4.jpg" alt="" style="height: 400px;">
            </div>
            <div class="double-image-row">
                    <img src="/assets/chisono/baby5.jpg" alt="" style="height: 195px">
                    <img src="/assets/chisono/baby6orizzontale.jpg" alt="" style="height: 195px">
            </div>
            <div class="single-image-row">
                <img src="/assets/chisono/baby7.jpg" alt="" style="height: 400px;">
            </div>
        </div>
</section>
