<section class="about">
    <div class="header-container">
        <div class="photo-header"></div>
        <div class="chi-sono-header">Chi sono</div>
    </div>
    <div class="chi-sono-body">
        <div class="text">
            <div style="width: 80%; align-self: center">
            <p>Mi chiamo Elena e attraverso la fotografia racconto quello che mi emoziona di più: il legame autentico e
                la vera essenza di ogni famiglia.
            </p>
            <p>
                La mia strada non è stata subito chiara. Dopo essermi iscritta alla facoltà di Architettura e averla
                frequentata per cinque anni, ho capito che quella non era la scelta giusta per me.
                Quando ho incontrato la fotografia di neonati ho ritrovato la luce che avevo perso, ed è proprio quella
                luce che cerco di trasmettere in ogni scatto.
            </p>
            <p>
                Dopo anni di formazione e numerosi attestati, ho trovato la mia vera vocazione: catturare i primi
                istanti di una nuova vita, l’emozione di diventare genitori, gli abbracci di una famiglia e le risate
                spensierate dei bambini. Poter raccontare la magia di questi momenti unici, e sapere che verranno
                custoditi per sempre, è per me un vero privilegio.
            </p>
            <p>
                Il mio stile è semplice e romantico: amo il bianco, i colori neutri e qualche tocco di colori pastello.
                Credo che le emozioni abbiano bisogno di spazio per brillare, senza troppe distrazioni.
            </p>
            </div>
        </div>
        <div class="photo-body">
            <img src="/assets/home/chisono/elena1.jpg" alt="">
        </div>
    </div>
</section>
