<section class="servizi">
    <div class="header-container">
        <div class="photo-header"></div>
        <div class="servizi-header">Servizi in Esterna</div>
    </div>
    <div class="servizi-body">
        <div class="text">
            <div class="text-content">
                <div>
                    <span class="sub-tilte">Perchè scegliere il servizio in esterna ? </span>
                </div>
                <p>Il servizio in esterna è pensato per chi ama la natura e la magia della luce calda del tramonto. Il periodo perfetto per svolgerlo è tra maggio e settembre.
                    Svolgeremo il servizio in una riserva naturale, quindi è perfetto per chi ha un animo avventuroso e selvaggio, pronto a seguire le mie folli idee tra erba alta e cespugli.
                    Le corse verso il sole che tramonta, i giochi condivisi e le passeggiate mano nella mano saranno i protagonisti delle mie foto; gli alberi, i fiori e i colori caldi del cielo gli faranno da cornice creando un’atmosfera magica e suggestiva.
                </p>
                <p>
                    La sessione avrà la durata di un’ora. Questo è l’unico servizio in cui l’orario di inizio è vincolato dall’orario in cui il sole tramonta, ci incontreremo quindi circa un’ora e un quarto prima.
                </p>
            </div>
        </div>
        <div class="image-section">
            <img src="/assets/home/servizi/esterna/foto1.jpg" alt="">
        </div>
    </div>
    <div class="servizi-body" style="background-color: #f2eadc; width: 100%">

        <div class="inside-second-body">
            <!-- Prima riga: primo paragrafo + prima immagine -->
            <div class="content-row">
                <div class="text">
                    <div class="text-content">
                        <div>
                            <span class="sub-tilte">Chi può partecipare? </span>
                        </div>
                        <p>
                            Questo servizio è dedicato non solo alle famiglie con bambini o ragazzi, ma anche alle coppie e ai genitori di bimbi pelosi: ogni forma di famiglia trova il suo spazio davanti al mio obiettivo.
                        </p>
                        <div>
                            <span class="sub-tilte">Cosa indossare ? </span>
                        </div>
                        <p>
                            Potreste optare per un abbigliamento casual dai toni neutri abbinato per tutti i membri della famiglia oppure usufruire degli abiti del mio studio pensati per mamma e bambini.
                            Non preoccupatevi per il momento del cambio, porterò il mantello dell’invisibilità! Consiglio di indossare scarpe chiuse.
                        </p>
                        <div>
                            <span class="sub-tilte">Quanto Costa ? </span>
                        </div>
                        <p>
                            Il servizio in esterna parte da 220€.
                            Per ricevere tutti i dettagli e trovare insieme la proposta più adatta a te, contattami senza impegno. Sarò felice di aiutarti!
                        </p>
                    </div>
                </div>
                <div class="column-photos">
                    <div class="image-section">
                        <img src="/assets/home/servizi/esterna/foto2.jpg" alt="">
                    </div>
                    <div class="image-section">
                        <img src="/assets/home/servizi/esterna/foto3.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-section">
        <span class="sub-tilte line">Guarda le gallery dei servizi in esterna</span>
        <span class="sub-tilte" style="margin-top: 15px"><a routerLink="/contatti">Contattmi subito</a></span>
    </div>
    <app-bottom-gallery [photos_input]="photos"></app-bottom-gallery>
</section>
