<section class="services">
    <div class="header-container">
        <div class="photo-header"></div>
        <div class="title-header">Tutti i miei servizi</div>
    </div>
    <h2>Servizi fotografici</h2>
    <div class="grid">
        <div class="card" *ngFor="let servizio of elencoServizi">
            <div class="card-image">
                <img [src]="servizio.foto" [alt]="servizio.servizio" />
            </div>
            <div class="card-content">
                <h3>{{ servizio.servizio }}</h3>
                <p *ngIf="servizio.descrizione">{{ servizio.descrizione }}</p>
            </div>
        </div>
    </div>

    <div class="contattami">
        <a class="insta-button" href="/contatti" rel="noopener noreferrer">
            Contattami !
        </a>
    </div>

</section>
