<div class="home-content">
    <app-gallery></app-gallery>
    <app-about-me></app-about-me>
    <app-servizi-preview></app-servizi-preview>
    <app-review></app-review>
    <app-bottom-gallery [hide_text]="false"></app-bottom-gallery>
    <section class="insta-banner">
        <a class="insta-button" href="https://www.instagram.com/elenamaceratesiphotography?igsh=MTJpNXFkNHZsd3pobw==" target="_blank" rel="noopener noreferrer">
            <i class="fa-brands fa-instagram"></i>
            Seguimi su Instagram
        </a>
    </section>
</div>
