html, body {
  height: 100%;
  margin: 0;
}

body {
  font-family: 'Cormorant Garamond', serif;
  margin: 0;
  background: #fffaf6;
  color: #3e3e3e;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}
@font-face {
  font-family: 'Adventures Unlimited';
  src: url('assets/fonts/adventures-unlimited-script-regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
