<section>
    <div class="titolo-sezione">
        <span>I miei servizi fotografici</span>
    </div>

    <div class="preview">
        <div class="preview-element">
            <a routerLink="/maternita">
                <img src="assets/home/servizi/maternita.jpg">
                <span>Maternità</span>
            </a>
        </div>
        <div class="preview-element">
            <a routerLink="/newborn">
                <img src="assets/home/servizi/newborn.jpg" alt="Newborn">
                <span>Newborn</span>
              </a>
        </div>
        <div class="preview-element">
            <a routerLink="/smash-cake">
                <img src="assets/home/servizi/smashcake.jpg">
                <span>Smash cake</span>
            </a>
        </div>
    </div>

    <div class="link">
        <a routerLink="/servizi">Scopri gli altri servizi ...</a>
    </div>
</section>
