<section>
    <div class="titolo-sezione">
        <span>I miei servizi fotografici</span>
    </div>

    <div class="preview">
        <div class="preview-element">
            <img src="assets/home/servizi/maternita.jpg">
            <span>Maternità</span>
        </div>
        <div class="preview-element">
            <img src="assets/home/servizi/newborn.jpg">
            <span>Newborn</span>
        </div>
        <div class="preview-element">
            <img src="assets/home/servizi/smashcake.jpg">
            <span>Smash cake</span>
        </div>
    </div>

    <div class="link">
        <a routerLink="/chi-sono">Scopri gli altri servizi ...</a>
    </div>
</section>
